<ul class = "big-screen-nav">
	<% if current_user %>
	  	<li><%= link_to "Sign Out", signout_path %></li>
		<li><%= link_to "Host a Conversation", create_path %></li>
	<% else %>
		<li><%= link_to "Sign In with Twitter", "/auth/twitter?origin=#{request.original_url}" %></li>
	<% end %>
</ul>
<%= image_tag("backup-banner.png", class: "header_img_home") %>
<div class = "home-content center">
	<p class="askaway-logo-home">AskAway</p>
	<p class="slogan">Candid conversations with the world's most interesting people</p>
	<h2 class="trending-convos">Trending Conversations</h2>
	<ol class="conversations">
		<%= render @conversations %>
	</ol>
	<%= will_paginate @conversations %>
</div>