<%= image_tag("path.png", class: "header_img_home") %>
		<div class = "sticky-dropdown-area user-dropdown-home">
			<% if current_user %>
				<%= render 'shared/dropdown' %>
			<% else %>
				<%= link_to "Sign in with Twitter", "/auth/twitter?origin=#{request.original_url}", class: "home-sign-in-link" %>
			<% end %>
		</div>
<div class = "home-content center">
	<%= image_tag("askaway-logo.png", class:"home-screen-logo-small") %>
	<%= image_tag("askaway-logo-white.png", class:"home-screen-logo-big") %>
	<p class="slogan">the simplest way to Q&A</p>
	
	<h3 class="trending-questions">Top Questions</h3>
	<ol class="questions-on-homepage">
		<%= render @queries %>
	</ol>
	<%= will_paginate @queries %>
</div>