<% provide(:title, 'Create a Conversation') %>
<h1>Create a Conversation</h1>
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@conversation) do |f| %>
	<%= render 'shared/error_messages' %>

      <%= f.label :prompt %>
      <%= f.text_field :prompt %>

      <%= f.submit "Host a Conversation", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
