<div class="absolute-center">
	<div class = "sticky taped">
		<p>Almost there!  This conversation will go live after you write a quick prompt below.</p>
	</div>
</div>
<div class="small-screen-header">
	<h3 class = "askaway-logo-small">AskAway</h3>
</div>
<ul class = "big-screen-nav">
	<% if current_user %>
	  	<li><%= link_to "Sign Out", signout_path %></li>
		<li><%= link_to "Host a Conversation", create_path %></li>
	<% end %>
</ul>
<% if current_user.bannerurl %>
	<%= image_tag(current_user.bannerurl, class: "header_img") %>
<% else %>
	<%= image_tag("backup-banner.png", class: "header_img") %>
<% end %>
<h1 class = "askaway-logo"><%= link_to "AskAway", root_path, class:"home-link" %></h1>
<div class="content">
	<h1 class = "full_name"><%= current_user.fullname %></h1>
	<h3 class = "twitter-handle"><%= link_to "@#{current_user.name}", "http://www.twitter.com/#{current_user.name}", target: "_blank", class:"twitter-handle-link" %></h3>
	<%= image_tag(current_user.portrait("original"), class:"img-circle prof-pic")%>
	<div class="prompt-form-area">
	    <%= bootstrap_form_for(@conversation, class:"convo-form") do |f| %>
	      <%= f.text_area :prompt, label: "Write a prompt describing your conversation:", id: "composer" %>
		  <%= f.hidden_field :user_id, :value => current_user.id %>
		  <span class="countdown"></span>
		  <br>
	      <%= f.submit "Go Live!", class: "btn btn-large btn-success go-live-button" %>
	    <% end %>
	</div>
</div>