<% provide(:title, @conversation.id) %>
<div class="pure-hidden-desktop pure-hidden-tablet small-screen-header">
	<h3 class = "askaway-logo-small">AskAway</h3>
</div>
<%= image_tag(@conversation.user.bannerurl, class: "header_img") %>
<h1 class = "pure-hidden-phone askaway-logo-big"><%= link_to "AskAway", root_path, class:"home-link-big" %></h1>
<div class="content">
	<div class = "small-screen-space pure-hidden-tablet pure-hidden-desktop">&nbsp;</div>
	<h1 class = "full_name_big pure-hidden-phone"><%= @conversation.user.fullname %></h1>
	<h3 class = "twitter-handle pure-hidden-phone"><%= link_to "@#{@conversation.user.name}", "http://www.twitter.com/#{@conversation.user.name}", target: "_blank", class:"twitter-handle-link-big" %></h3>
	<%= image_tag(@conversation.user.portrait("original"), class:"img-circle prof-pic pure-hidden-phone")%>
	<%= image_tag(@conversation.user.portrait("bigger"), class:"img-circle smaller-prof-pic pure-hidden-tablet pure-hidden-desktop")%>
	<h1 class = "full_name_small pure-hidden-tablet pure-hidden-desktop"><%= @conversation.user.fullname %>&nbsp;<span class="small-twitter-handle-span">(<%= link_to "@#{@conversation.user.name}", "http://www.twitter.com/#{@conversation.user.name}", target: "_blank", class:"twitter-handle-link-small" %>)</span></h1>
	<div class="prompt-area">
		<h2 class="prompt_big pure-hidden-phone"><%= @conversation.prompt %></h2>
		<p class="prompt_small pure-hidden-tablet pure-hidden-desktop"><%= @conversation.prompt %></p>
	</div>
	<%= render 'shared/question_form' %>
	<% if @conversation.questions.any? %>
		<h2 class="center numer-of-questions"><%= pluralize(@conversation.questions.count, "Question") %> </h2>
	<% end %>
	<ol class="questions">
		<%= render @questions %>
		<%= will_paginate @questions %>
	</ol>
</div>