<% provide(:title, @conversation.id) %>
<div class="small-screen-header">
	<h3 class = "askaway-logo-small">AskAway</h3>
</div>
<ul class = "big-screen-nav">
	<% if current_user %>
	  	<li><%= link_to "Sign Out", signout_path %></li>
		<li><%= link_to "Host a Conversation", create_path %></li>
	<% end %>
</ul>
<% if !current_user %>
	<div class = "sticky-login-prompt">
		<p class="login-prompt center">
			To ask <%=@conversation.user.fullname %> a question:
		</p>
		<div class="center">
			<%= link_to image_tag("sign-in-with-twitter-gray.png"), "/auth/twitter?origin=#{request.original_url}" %>
		</div>
	</div>
<% end %>
<% if @conversation.user.bannerurl %>
	<%= image_tag(@conversation.user.bannerurl, class: "header_img") %>
<% else %>
	<%= image_tag("backup-banner.png", class: "header_img") %>
<% end %>
<h1 class = "askaway-logo"><%= link_to "AskAway", root_path, class:"home-link" %></h1>
<div class="content">
	<h1 class = "full-name-tabletplus"><%= link_to "#{@conversation.user.fullname}'s", @conversation.user, class:"conversation-username-link-tabletplus" %> Conversation</h1>
	<%= link_to image_tag(@conversation.user.portrait("original"), class:"img-circle prof-pic"), @conversation.user %>
	<h1 class = "full-name"><%= link_to "#{@conversation.user.fullname}'s", @conversation.user, class:"conversation-username-link" %> Conversation</h1>
	<p class="prompt"><%= @prompt_linked %></p>
	<% if @conversation.questions.count == 0 && @conversation.user != current_user %>
		<h2 class="center no-questions-prompt-so-ask">No questions yet!  Be the first to ask: </h2>
		<% if !current_user %>
			<div class="center">
				<%= link_to image_tag("sign-in-with-twitter-gray.png"), "/auth/twitter?origin=#{request.original_url}" %>
			</div>
		<% end %>
	<% elsif @conversation.questions.count == 0 && @conversation.user == current_user %>
		<div class="center">
			<div class = "sticky-share-prompt">
				<div class = "taped"></div>
				<h3 class="no-questions-prompt">No questions yet!  Share your conversation link to get an audience: </h3>
				<textarea class = "convo-url-for-sharing" type="text" id="textfield-for-url" readonly>
				</textarea>
				<br>
				<br>
				<br>
			</div>
		</div>
	<% end %>
	<div class="question-form-area">
		<%= render 'shared/question_form' %>
	</div>
	<% if @conversation.questions.count != 0 %>
		<h2 class="center number-of-questions"><%= pluralize(@conversation.questions.count, "Question") %> </h2>
	<% end %>
	<ol class="questions">
		<%= render @questions %>
	</ol>
	<div class ="center">
		<%= will_paginate @questions %>
		<% if @conversation.user == current_user %>
			<div class = "convo-delete-link">
				<%= link_to "delete conversation", @conversation, method: :delete, data: { confirm: "You sure?  You will delete this conversation and all of its questions." } %>
			</div>
		<% end %>
	</div>
</div>