<% provide(:title, @user.fullname) %>
<div class="page-content center">
	<%= image_tag("askaway-logo.png", class:"confirm-screen-logo") %>
	<%= image_tag("login-progress.png", class:"login-progress") %>
	<br>
	<br>
	<h3 class ="almost-done">Almost there!</h3>
	<p class = "enter-email">Enter your email address<br>to complete signup:</p>
	<div class ="confirm-form-area">
		<%= bootstrap_form_for(@user, id:"userEmailForm", label_errors: true) do |f| %>
			<%= f.email_field :email, hide_label: true, required:true, id:"enter-email" %>
			<br>
			<%= f.submit "Finish", class: "finish-btn btn btn-large btn-primary", id:"email-submit" %>
		<% end %>
	</div>
</div>