<% if current_user && @user != current_user %>
	<%= bootstrap_form_for(@query, id:"queryForm") do |f| %>
		<div class="modal-body">
			<%= f.text_area :content, class:"query-input pure-input-1", id: "composer", hide_label: true %>
			<%= f.hidden_field :asker_id, :value => current_user.id %>
			<%= f.hidden_field :askee_id, :value => @user.id %>
			<span class="countdown"></span>
			<br>
		</div>
		<div class ="modal-footer">
			<%= f.submit "Ask", class: "btn btn-large btn-primary inner-ask-button", id:"disabledAsk" %>
		</div>
	<% end %>
<% elsif @user != current_user && @user.queries_received.count > 0 %>
	<div class="small-screen-login-prompt center">
		<%= link_to image_tag("sign-in-with-twitter-gray.png"), "/auth/twitter?origin=#{request.original_url}" %>
	</div>
<% end %>