<div class = "answer-area">
	<%= image_tag(answer.question.conversation.user.portrait("normal"), class:"img-circle")%>
	<div class="q-a-metadata pure-hidden-phone">
		<%= @conversation.user.fullname %> | <span class="timestamp"> Answered <%= time_ago_in_words(answer.created_at) %> </span>
	</div>
	<div class="q-a-metadata-small pure-hidden-tablet pure-hidden-desktop">
		<%= @conversation.user.fullname %>
		<br>
		<span class="timestamp"> Answered <%= time_ago_in_words(answer.created_at) %></span>
	</div>
	<div class = "q-and-a-content">
		<%= answer.content %>
	</div>
</div>