<li>
	<div class = "relative">
		<% if item.askee == current_user || item.askerfunction == current_user %>
			<div class = "delete-query-area">
				<%= link_to "remove", item, method: :delete, data: { confirm: "You sure? This will delete the question and answer forever." }, class:"remove-question-link" %>
			</div>
		<% end %>
	</div>
	<div id ="query_<%= item.id %>" class = "query-area container-fluid">
		<div class ="col-xs-2 col-sm-1 vote-column">
			<% if current_user && !current_user.user_has_upvoted?(item) %>
				<%= button_to vote_query_path(item, type: "up"), method: "post", class:"btn vote-button", remote: true do %>
					<div class="center">
						<span class="glyphicon glyphicon-chevron-up"></span>
					</div>
					<span class = "votecount"><%= item.reputation_for(:votes).to_i %></span>
				<% end %>
			<% elsif current_user && current_user.user_has_upvoted?(item) %>
				<%= button_to vote_query_path(item, type: "down"), method: "post", class:"btn pressed vote-button", remote: true do %>
					<div class="center">
						<span class="glyphicon glyphicon-ok"></span>
					</div>
					<span class = "votecount"><%= item.reputation_for(:votes).to_i %></span>
				<% end %>
			<% elsif !current_user %>
				<%= link_to "#", class:"btn vote-button logged-out-popover", tabindex:"0", :data => {trigger:"manual", content:"#{link_to "Sign In with Twitter", "/auth/twitter?origin=#{request.original_url}"} to vote."} do %>
					<div class="center">
						<span class="glyphicon glyphicon-chevron-up"></span>
					</div>
					<span class="votecount"><%= item.reputation_for(:votes).to_i %></span>
				<% end %>
			<% end %>
		</div>
		<div class = "col-xs-10 col-sm-11 content-column">
			<div class = "question-area">
				<div class = "q-and-a-content">
					<%= item.linked_content.html_safe %>
				</div>
				<div class="q-a-metadata">
					<%= link_to item.askerfunction.fullname, item.askerfunction, class: "subtle-metadata" %> <span class="timestamp"> asked <%= link_to time_ago_in_words(item.created_at), item, class: "subtle-metadata" %> ago. </span>
				</div>
			</div>
			<% if item.response %>
				<%= render item.response %>
			<% elsif current_user == @user %>
				<%= link_to "Answer", item, class: "btn btn-large btn-success answer-button" %>
			<% end %>
		</div>
	</div>
</li>