<% provide(:title, @query.id) %>
<div class="page-content">
	<div class = "center"><%= image_tag("askaway-logo.png", class:"small-screen-logo") %></div>
	<div class ="relative-container">
		<div class = "sticky-dropdown-area user-dropdown">
			<% if current_user %>
				<%= render 'shared/dropdown' %>
			<% else %>
				<% yield %>
			<% end %>
		</div>
	</div>
	<div class = "big-screen-logo-area">
		<%= link_to image_tag("askaway-logo.png", class:"big-screen-logo"), root_path %>
	</div>
	<div class = "query-page-content">
		<div id="query_<%= @query.id %>" class = "query-area-query-page container-fluid">
			<h3 class="q-for-name-query-page">
				<%= link_to @asker.fullname, @asker, class:"subtle-link" %> asked <%= link_to @askee.fullname, @askee, class:"subtle-link" %>:
			</h3>
			<div class ="col-xs-2 vote-column">
				<% if current_user && !current_user.user_has_upvoted?(@query) %>
					<%= button_to vote_query_path(@query, type: "up"), method: "post", class:"btn vote-button query-page-vote-button", remote: true do %>
						<div class="center">
							<%= image_tag("up-arrow.png", class:"up-arrow")%>
						</div>
						<span class = "votecount"><%= @query.reputation_for(:votes).to_i %></span>
					<% end %>
				<% elsif current_user && current_user.user_has_upvoted?(@query) %>
					<%= button_to vote_query_path(@query, type: "down"), method: "post", class:"btn pressed vote-button query-page-vote-button", remote: true do %>
						<div class="center">
							<span class="glyphicon glyphicon-ok"></span>
						</div>
						<span class = "votecount"><%= @query.reputation_for(:votes).to_i %></span>
					<% end %>
				<% elsif !current_user %>
					<%= link_to "#", class:"btn vote-button logged-out-popover query-page-vote-button", tabindex:"0", :data => {trigger:"manual", content:"#{link_to "Sign In with Twitter", "/auth/twitter?origin=#{request.original_url}"} to vote."} do %>
						<div class="center">
							<%= image_tag("up-arrow.png", class:"up-arrow")%>
						</div>
						<span class="votecount"><%= @query.reputation_for(:votes).to_i %></span>
					<% end %>
				<% end %>
			</div>
			<div class = "col-xs-10 content-column">
				<div class = "q-and-a-content">
					<%= @query_with_links %>
				</div>
				<div class="q-a-metadata">
					<%= link_to @asker.fullname, @asker, class: "subtle-metadata" %> <span class="timestamp"> asked <%= time_ago_in_words(@query.created_at) %> ago. </span>
				</div>
				<br>
				<% if current_user == @askee && !@query.response %>
					<br>
					<%= render 'shared/response_form' %>
				<% end %>
				<% if @query.response %>
					<%= render @query.response %>
				<% end %>
			</div>
		</div>
		<% if current_user == @asker && !@query.response %>
			<div class="center">
				<div class = "sticky-share-prompt-q">
					<div class="taped"></div>
					<h3 class="share-q-prompt">Share your question link with friends to rack up some votes!</h3>
					<textarea class = "form-control query-url-for-sharing" type="text" id="textfield-for-url">
					</textarea>
				</div>
			</div>
		<% end %>
	</div>
</div>